<a href="https://colab.research.google.com/github/amirmafzali/Machine-learning_course/blob/main/Data_Analytics_(TA).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Google Colab**
---
1. Open google colab from [here](https://colab.research.google.com/)
2. Open new notebook

### **Jupyter Notebook Installation**


---


1.   Download the last version of Anaconda from [here](https://www.anaconda.com/products/distribution)
2.   Install Anaconda by following instruction on the download page

1.   Run Jupyter using Anaconda adds to your start menu or running "Jupyter notebook" command in Anaconda prompt
2. Open new python3

# **Pandas & Numpy**

In [14]:
teachers_name = ['alex','mary','steve']
teachers_age = [52,61,48]
print(teachers_name)
print(teachers_age)

teachers = list(zip(teachers_name,teachers_age))
teachers

['alex', 'mary', 'steve']
[52, 61, 48]

[('alex', 52), ('mary', 61), ('steve', 48)]

In [13]:
students = {
    'name' : ['jack','nick','john'],
    'age' : [20,18,19]
}
students

{'name': ['jack', 'nick', 'john'], 'age': [20, 18, 19]}

In [15]:
import numpy as np

# ***4. Visualization***

# ***5. Data Analysis***